{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browser":"last 2 Chrome versions"
        },
        "loose": true
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-to-generator",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "sourceMaps": true,
  "comments": false
}